
/* ---------------------------------- */
            /* BASIC SETUP */
/* ---------------------------------- */


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/* ------------------------------------------- */
             /* REUSABLE COMPONENTS */
/* ------------------------------------------- */

h1{
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#000000d3;
    padding-top: 120px;
} 
h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hr1 {
    width: 3%;
    height: 1px;
    border: 1px solid #C41230;
    background-color: #C41230;
    margin-top: 20px;  
}
.hr2 {
    width: 6%;
    height: 1px;
    border: 0.5px solid #a6a6a6;
    background-color: #a6a6a6;
    margin-top: 20px;  
}


/* ---------------------------------- */
            /* HEADER */
/* ---------------------------------- */

header {
    background-image: url("../img/diwanee-cover.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: #4d4d4d;
    opacity: 0.9;
      
}
.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
   
}
ul {
    display: flex;
    list-style: none;
    
}
a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 13px;
    letter-spacing: 4px;
    line-height: 16px;
    padding-left: 40px;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-paragraph {
    font-size: 20px;
    color: #000000;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 50px;
    line-height: 30px; 
    font-weight: bold;  
}

/* ---------------------------------- */
    /* SECTION GEOMETRICS */
/* ---------------------------------- */
.geometrics {
    display: flex;

}

.geometrics img {
    height: 70px;
    padding: 130px 0 30px;
}

.article-left,
.article-right {
    background-color: #fbfbfb;
    width: 33.3%;
}
.triangle, 
.oval,
.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article-center {
    width: 33.3%;
    background-color: #e9e9e9; 
}

.geometrics-paragraph {
    color: #a6a6a6;
    line-height: 25px;
    font-size: 14px;
    padding: 20px 45px 50px;

}